
.wrapper
  .post-wrap
    .user
      .u-name
      .u-intro
    .post
      - @posts.each do |post|
        .post-each
          .p-user
            %p ユーザー
          = link_to post_path(post) do
            .p-main
              .p-title
                = post.title
              .p-content
                = post.content

= link_to 'new', new_post_path
